@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto&display=swap');
@import "../base/reset";
@import "../components/navbar";
@import "../layout/index";
@import "../layout/personajes";
@import "../layout/galeria";
@import "../layout/juegos";
@import "../layout/curiosidades";
@import "../components/footer";

@media (max-width:480px) {

    // mediaqueries inicio
    .God {
        justify-content: center;
        align-content: center;
        flex-direction: row;
        height: 140vh;
    }

    .God__content {
        width: 60%;
        height: auto;
    }

    .God__content p {
        width: auto;
        height: auto;
    }

    .time {
        height: 60vh;
        width: 100%;
    }

    .time__img {
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 250px;
    }

    .time__img img {
        width: 80%;
        height: 220px;
    }

    .contenedor {
        height: 100%;
        width: 100%;
    }

    .card__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4"
    }

    .c1 {
        grid-area: area1;
    }

    .c2 {
        grid-area: area2;
    }

    .c3 {
        grid-area: area3;
    }

    .c4 {
        grid-area: area4;
    }

    .card__header h2 {
        text-align: center;
    }

    // meduaqueries personajes

    .bg__image h1 {
        text-align: center;
    }

    .line {
        background-color: #fffcfc;
        border-bottom: solid #121314;
    }

    .line__body {
        background-color: #121212;
    }

    .line__body img {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .bg {
        color: #121314;
        background-color: #fffcfc;
    }

    // mediaqueries galeria

    .bg__image h1 {
        text-align: center;
    }

    .line {
        background-color: #fffcfc;
        border-bottom: solid #121314;
    }

    .line__body {
        background-color: #121212;
    }

    .line__body img {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .bg {
        color: #121314;
        background-color: #fffcfc;
    }

    // mediaqueries footer

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .icons__footer h4 {
        padding: 25px;
    }
}