/* Main galeria */
.banner_gallery {
    background-image: url(../assets/fondo_6.jpg);
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
    @include background(no-repeat, cover, center, fixed);

    h1 {
        font-size: 5rem;
        font-weight: bold;
        color: $font-negro;
        opacity: 0.5;
        letter-spacing: 1rem;
    }
}

.fondo-gallery{
    background-color: $fondo-negro;
}

.title__gallery_1 {
    background-color: $fondo-negro;
    color: $font-blanco;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 30px;
}

.title__gallery_2 {
    background-color: $fondo-negro;
    color: $font-blanco;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    height: auto;
    border-top: 1px solid white;
}

.gallery_1 {
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
    background-color: $fondo-negro;


    .box-img {
        height: auto;

        &:nth-child(1) {
            grid-column-start: span 2;
        }

        &:nth-child(4) {
            grid-row-start: span 2;
        }

        &:nth-child(5) {
            grid-row-start: span 2;
        }

        figure {
            width: 100%;
            height: 100%;

            img {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: fixed;
            }
        }
    }
}

.gallery_2 {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
    background-color: $fondo-negro;

    .box-img2 {
        height: auto;

        &:nth-child(2) {
            grid-column-start: span 2;
        }

        &:nth-child(3) {
            grid-row-start: span 2;
        }

        &:nth-child(5) {
            grid-row-start: span 2;
        }

        figure {
            width: 100%;
            height: 100%;

            img {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: fixed;
            }
        }
    }
}