.God {
    background-image: url(../assets/fondo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .God__content {

        .God__title {
            color: $font-blanco;
            font-size: 6rem;
            text-align: center;
            font-weight: bold;
            letter-spacing: 1rem;
            margin-bottom: 2rem;
            opacity: 0.8;
        }

        .God__description {
            color: $font-blanco;
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
}

.time {
    background-color: $fondo-negro;
    height: auto;

    h2 {
        display: flex;
        justify-content: center;
        color: $font-blanco;
        font-size: 60px;
        padding: 15px;
    }

    .time__body {
        padding-bottom: 30px;

        .time__img {
            display: flex;
            justify-content: center;

            img {
                box-shadow:
                    10px 10px 10px 0px $fondo-blanco;
            }
        }
    }
}


.contenedor {
    background-image: url(../assets/Fondo_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;

    .card__header {
        display: flex;
        justify-content: center;
        padding: 15px;

        h2 {
            font-size: 50px;
            font-weight: bold;
            color: $font-negro;
        }
    }

    .card__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
        grid-template-areas:
            "area1 area2"
            "area3 area4"
        ;

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;

            .card__title {
                color: $font-negro;
                font-weight: bold;
                padding: 10px;
            }

            .card__img {
                height: 300px;
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }

        .contenedor_1 {
            grid-area: area1;
        }

        .contenedor_2 {
            grid-area: area2;
        }

        .contenedor_3 {
            grid-area: area3;
        }

        .contenedor_4 {
            grid-area: area4;
        }
    }

}