/* Main juegos */
.fondo {
    background-image: url(../assets/fondo_1.jpg);
}

.play {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #1f1f1f;
    padding: 15px
}

.play__body {
    width: 80%;
    text-align: left;
    margin: 15px;
}

.play__body h2 {
    padding: 10px 0;
    font-size: 28px;
    font-weight: bold;
    color: #d1d1d1;
}

.play__body p {
    font-size: 20px;
    padding: 5px;
    color: #d1d1d1;
}

.play__body img {
    /* float: right; */
    width: 200px;
    height: 200px;
    border: solid #8a0000;
    border-radius: 3px;
    /* padding: 10px 0px; */
}