@media only screen and (max-width:480px) {

    // mediaqueries inicio
    .God {
        justify-content: center;
        align-content: center;
        flex-direction: row;
        height: 100vh;

        .God__content {
            width: 60%;
            height: auto;

            p {
                width: auto;
                height: auto;
            }
        }
    }

    .time {
        height: auto;
        width: 100%;

        .time__body {

            .time__img {
                justify-content: center;
                align-content: center;
                width: 100%;
                height: 250px;

                img {
                    width: 80%;
                    height: 220px;
                }
            }

        }
    }

    .contenedor {
        height: auto;
        width: 100%;

        .card__header {

            h2 {
                text-align: center;
            }
        }

        .card__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // meduaqueries personajes

    .banner_champs h1 {
        text-align: center;
    }

    .bg__line {
        color: #121314;
        background-color: #fffcfc;
    }

    .line {
        background-color: #fffcfc;
        border-bottom: solid #121314;

        .line__body {
            background-color: #121212;

            img {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }

    // mediaqueries galeria

    .banner_gallery {

        h1 {
            text-align: center;
        }
    }

    .title__gallery_1 {
        background-color: $fondo-negro;
        color: $font-blanco;
    }

    .gallery_1 {
        background-color: $fondo-negro;
    }

    .title__gallery_2{
        background-color: $fondo-blanco;
        color: $font-negro;
    }

    .gallery_2 {
        background-color: $fondo-blanco;
        border-bottom: solid #121212;
    }

    // mediaqueries juegos

    .game {

        .game__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #1f1f1f;

            .game__img {
                width: 100%;
            }

            .game__content {
                width: 100%;

                h3 {
                    color: $font-blanco;
                }

                p {
                    color: $font-blanco;
                }
            }
        }
    }

    // mediaqueries footer

    .container__footer {
        width: 100%;
        flex-direction: column;
    }

    .icons__footer h4 {
        padding: 25px;
    }
}