/* Main Personajes */
.banner_champs {
    background-image: url(../assets/fondo_3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    h1 {
        font-size: 5rem;
        font-weight: bold;
        color: #000000;
        opacity: 0.5;
    }
}

.bg__line {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 30px;
    color: #fffcfc;
    margin: 0px;
    background-color: #121314;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: #121314;
    padding: 15px;

    .line__body {
        margin: 15px;
        border-radius: 15px;
        width: 250px;

        h2 {
            margin: 6px;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fffcfc;
        }

        p {
            font-size: 18px;
            color: #fffcfc;
        }

        img {
            height: 450px;
            width: 250px;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}