.navbar {
    width: 100%;
    background-color: #ffffff;

    .logo {
        height: 40px;
        width: 160px;
    }

    .offcanvas {
        background-color: #ffffff;
    
        .nav-link {
            color: #000000;
            margin: 5px;
        }
        
    }
}


