.navbar {
    width: 100%;
    background-color: #ffffff70;

    .logo {
        height: auto;
        width: 8.5rem;
    }

    .offcanvas {
        background-color: #ffffff;
    
        .nav-link {
            color: #000000;
            margin: 5px;
        }
        
    }
}


