/* Main juegos */
.banner_game {
    background-image: url(../assets/fondo_juego.png);
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
    @include background(no-repeat, cover, center, fixed);

    h1 {
        font-size: $title-high;
        font-weight: bold;
        color: $font-negro;
        opacity: 0.8;
        letter-spacing: 1rem;
    }
}

.titulo__game {
    height: 6rem;
    display: flex;
    justify-content: center;
    padding: 15px;

    .titulo__game_h2 {
        font-size: 3rem;
        color: $font-negro;
        align-self: center;
        font-weight: bold;
    }
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    height: auto;
    grid-gap: 20px;
    padding: 15px;

    .game__body {
        display: flex;
        flex-direction: column;
        background-color: $fondo-gris;
        @extend .shadow-black;
        border-radius: 8px;
        width: auto;
        height: auto;

        &:hover{
            @include hover-black (#000, 0.5s)
        }

        &_img {
            width: auto;
            height: auto;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            overflow: hidden;

            h3 {
                font-size: 2rem;
                @extend .gradient;
                font-weight: bold;
                padding: 15px;
                margin-bottom: 0rem;
            }

            p {
                font-size: 1.2rem;
                color: $font-blanco;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 25px;
                margin-bottom: 0rem;
            }
        }
    }
}

.game2 {
    width: 67%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    height: auto;
    grid-gap: 20px;
    padding: 15px;
    margin: auto;
    margin-bottom: 30px;

    .game2__body {
        display: flex;
        flex-direction: column;
        background-color: $fondo-gris;
        @extend .shadow-black;
        border-radius: 8px;
        width: auto;
        height: auto;

        &:hover{
            @include hover-black (#000, 0.5s)
        }

        &_img {
            width: auto;
            height: auto;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            overflow: hidden;

            h3 {
                font-size: 2rem;
                @extend .gradient;
                font-weight: bold;
                padding: 15px;
                margin-bottom: 0rem;
            }

            p {
                font-size: 1.2rem;
                color: $font-blanco;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 25px;
                margin-bottom: 0rem;
            }
        }
    }
}