/* Main Personajes */
.banner_champs {
    background-image: url(../assets/fondo_3.jpg);
    @include flex(column,center,center);
    width: 100%;
    min-height: 100vh;
    @include background(no-repeat,cover,center,fixed);

    h1 {
        font-size: $title-high;
        font-weight: bold;
        color: $font-negro;
        opacity: 0.5;
    }
}

.bg__line {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 30px;
    color: $font-blanco;
    margin: 0px;
    background-color: $fondo-negro;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: $fondo-negro;
    padding: 15px;
    height: auto;

    .line__body {
        margin: 15px;
        border-radius: 15px;
        width: 250px;
        @extend .shadow-light;

        &_title {
            margin: 6px;
            font-size: 1.5rem;
            font-weight: bold;
            color: $font-blanco;
        }

        &_description {
            font-size: 18px;
            color: $font-blanco;
            padding: 10px;
        }

        &_img {
            height: 450px;
            width: 250px;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}