// vars fondos
$fondo-negro: #121314;
$fondo-blanco: #fffcfc;
$fondo-gris: #202020;
// vars letras
$font-negro: #0c0b0b;
$font-blanco: #F5F5F5;
$font-gris: #a7a7a7;
$title-small:2.7rem;
$title-high:6rem;
