@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto&display=swap");
.gradient, .curiosity .curiosity__body__title, .game .game__body .game__content h3 {
  background-image: linear-gradient(to right, #FF1E1E, #FC2947);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.shadow-black, .curiosity .curiosity__body, .game .game__body {
  box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.6588235294);
}

.shadow-light, .line .line__body, .time .time__body .time__img img {
  box-shadow: 5px 5px 5px rgba(245, 245, 245, 0.631372549);
}

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4392156863);
}
.navbar .logo {
  height: auto;
  width: 8.5rem;
}
.navbar .offcanvas {
  background-color: #ffffff;
}
.navbar .offcanvas .nav-link {
  color: #000000;
  margin: 5px;
}

/* Footer */
footer {
  background-color: #fffcfc;
  padding: 30px 0px;
}
footer .container__footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
}
footer .container__footer .icons__footer h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #000001;
}
footer .container__footer .bi {
  padding: 15px;
  color: #191919;
  font-size: 25px;
}
footer .container__footer .bi:hover {
  color: #950101;
}
footer .logo__footer {
  margin: 10px;
  height: auto;
  width: 10rem;
}

.God {
  background-image: url(../assets/fondo_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.God .God__content .God__title {
  color: #F5F5F5;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}
.God .God__content .God__description {
  color: #F5F5F5;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.time {
  background-color: #121314;
  height: auto;
}
.time h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  font-size: 60px;
  padding: 15px;
}
.time .time__body {
  padding-bottom: 30px;
}
.time .time__body .time__img {
  display: flex;
  justify-content: center;
}
.contenedor {
  background-image: url(../assets/Fondo_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}
.contenedor .card__header {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.contenedor .card__header h2 {
  font-size: 50px;
  font-weight: bold;
  color: #0c0b0b;
}
.contenedor .card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  grid-template-areas: "area1 area2" "area3 area4";
}
.contenedor .card__container .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.contenedor .card__container .cards .card__title {
  color: #0c0b0b;
  font-weight: bold;
  padding: 10px;
}
.contenedor .card__container .cards .card__img {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.contenedor .card__container .contenedor_1 {
  grid-area: area1;
}
.contenedor .card__container .contenedor_2 {
  grid-area: area2;
}
.contenedor .card__container .contenedor_3 {
  grid-area: area3;
}
.contenedor .card__container .contenedor_4 {
  grid-area: area4;
}

/* Main Personajes */
.banner_champs {
  background-image: url(../assets/fondo_3.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner_champs h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #0c0b0b;
  opacity: 0.5;
}

.bg__line {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px;
  color: #F5F5F5;
  margin: 0px;
  background-color: #121314;
}

.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background-color: #121314;
  padding: 15px;
  height: auto;
}
.line .line__body {
  margin: 15px;
  border-radius: 15px;
  width: 250px;
}
.line .line__body h2 {
  margin: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #F5F5F5;
}
.line .line__body p {
  font-size: 18px;
  color: #F5F5F5;
}
.line .line__body img {
  height: 450px;
  width: 250px;
  border-radius: 15px;
  object-fit: cover;
}

/* Main galeria */
.banner_gallery {
  background-image: url(../assets/fondo_6.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner_gallery h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #0c0b0b;
  opacity: 0.5;
  letter-spacing: 1rem;
}

.fondo-gallery {
  background-color: #121314;
}

.title__gallery_1 {
  background-color: #121314;
  color: #F5F5F5;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 30px;
}

.title__gallery_2 {
  background-color: #121314;
  color: #F5F5F5;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  height: auto;
  border-top: 1px solid white;
}

.gallery_1 {
  width: 100%;
  max-width: 80%;
  margin: auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 10px;
  background-color: #121314;
}
.gallery_1 .box-img {
  height: auto;
}
.gallery_1 .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.gallery_1 .box-img:nth-child(4) {
  grid-row-start: span 2;
}
.gallery_1 .box-img:nth-child(5) {
  grid-row-start: span 2;
}
.gallery_1 .box-img figure {
  width: 100%;
  height: 100%;
}
.gallery_1 .box-img figure img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: fixed;
}

.gallery_2 {
  width: 100%;
  max-width: 80%;
  margin: auto;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 10px;
  background-color: #121314;
}
.gallery_2 .box-img2 {
  height: auto;
}
.gallery_2 .box-img2:nth-child(2) {
  grid-column-start: span 2;
}
.gallery_2 .box-img2:nth-child(3) {
  grid-row-start: span 2;
}
.gallery_2 .box-img2:nth-child(5) {
  grid-row-start: span 2;
}
.gallery_2 .box-img2 figure {
  width: 100%;
  height: 100%;
}
.gallery_2 .box-img2 figure img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: fixed;
}

/* Main juegos */
.banner_game {
  background-image: url(../assets/fondo_juego.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner_game h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #0c0b0b;
  opacity: 0.8;
  letter-spacing: 1rem;
}

.titulo__game {
  height: 6rem;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.titulo__game .titulo__h2 {
  font-size: 3rem;
  color: #0c0b0b;
  align-self: center;
  font-weight: bold;
}

.game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  grid-gap: 20px;
  padding: 15px;
}
.game .game__body {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #121314;
  border-radius: 8px;
}
.game .game__body .game__img {
  width: 35%;
  height: auto;
}
.game .game__body .game__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.game .game__body .game__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: auto;
  overflow: hidden;
}
.game .game__body .game__content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 0rem;
}
.game .game__body .game__content p {
  font-size: 1rem;
  color: #F5F5F5;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0rem;
}

/* Main curiosidades */
.banner_curiosities {
  background-image: url(../assets/fondo_curio.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner_curiosities h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #000000;
  opacity: 0.7;
  letter-spacing: 1rem;
}

.curiosity {
  background-color: #fffcfc;
  padding: 40px 20px;
}
.curiosity .curiosity__body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #202020;
  border-radius: 10px;
}
.curiosity .curiosity__body:hover {
  background-color: #000;
  transition: 0.5s;
}
.curiosity .curiosity__body__title {
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: bold;
  padding: 15px;
}
.curiosity .curiosity__body__text {
  margin-bottom: 0px;
  font-size: 1.5rem;
  text-align: center;
  color: #F5F5F5;
  padding: 15px;
}

@media only screen and (max-width: 480px) {
  .God {
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  .God .God__content {
    width: 60%;
    height: auto;
  }
  .God .God__content h1 {
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-align: center;
  }
  .God .God__content p {
    width: auto;
    height: auto;
    text-align: center;
  }
  .time {
    height: auto;
    width: 100%;
  }
  .time .time__body .time__img {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 250px;
  }
  .time .time__body .time__img img {
    width: 80%;
    height: 220px;
  }
  .contenedor {
    height: auto;
    width: 100%;
  }
  .contenedor .card__header h2 {
    text-align: center;
  }
  .contenedor .card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner_champs h1 {
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-align: center;
  }
  .bg__line {
    color: #121314;
    background-color: #fffcfc;
  }
  .line {
    background-color: #fffcfc;
    border-bottom: solid #121314;
  }
  .line .line__body {
    background-color: #121212;
    box-shadow: 10px 10px 10px 0px rgba(15, 15, 15, 0.7803921569);
  }
  .line .line__body img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .banner_gallery h1 {
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-align: center;
  }
  .gallery_1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .gallery_1 .box-img img {
    height: 200px;
  }
  .gallery_2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .gallery_2 .box-img2 img {
    height: 200px;
  }
  .game .game__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 8px;
  }
  .game .game__body .game__img {
    width: 100%;
  }
  .game .game__body .game__img img {
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .game .game__body .game__content {
    width: 100%;
  }
  .game .game__body .game__content p {
    text-align: center;
  }
  .banner_curiosities h1 {
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-align: center;
  }
  .container__footer {
    width: 100%;
    flex-direction: column;
  }
  .icons__footer h4 {
    padding: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
